flows.json
[{"id":"c5f741d359d36b2c","type":"tab","label":"my Bambu X Log","disabled":false,"info":"","env":[]},{"id":"eeb467afdcb4ce76","type":"server-state-changed","z":"c5f741d359d36b2c","name":"","server":"357ad6925259b0f5","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.x1c_00m09c442602404_etape_actuelle"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"printing","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":310,"y":120,"wires":[["66cc47e11a08b6cb"],[]]},{"id":"66cc47e11a08b6cb","type":"api-current-state","z":"c5f741d359d36b2c","name":"","server":"357ad6925259b0f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.x1c_00m09c442602404_grammage_de_limpression","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"grammage","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":340,"y":180,"wires":[["801c288d9e32d3e0"]]},{"id":"801c288d9e32d3e0","type":"api-current-state","z":"c5f741d359d36b2c","name":"","server":"357ad6925259b0f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.x1c_00m09c442602404_nom_de_la_tache","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"file","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":310,"y":240,"wires":[["f22fdc6a85bfa0b2"]]},{"id":"da55db2fd713ef5f","type":"mysql","z":"c5f741d359d36b2c","mydb":"670a80b8d67d3579","name":"","x":335,"y":540,"wires":[["d7567e627d36f6bc","ae45f5ad5c84c0b0"]],"l":false},{"id":"d7567e627d36f6bc","type":"debug","z":"c5f741d359d36b2c","name":"debug 5","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":440,"y":620,"wires":[]},{"id":"1a6bb4caef74e239","type":"function","z":"c5f741d359d36b2c","name":"inster new print","func":"msg.topic = \"INSERT INTO print_history (file_name, weight, colors, ams_slot_used, print_finished,spool_tag_uid,spool_tray_uuid,spool_remain,ams_humidity, ams_type, color_str, consum_before)VALUES (?, ?, ?, ?, ?,?,?,?,?,?,?,?)\";\nmsg.payload = [msg.file, msg.grammage, msg.spoolInfo.color, msg.spoolInfo.name, 0, msg.spoolInfo.tag_uid, msg.spoolInfo.tray_uuid, msg.spoolInfo.remain, msg.amsHumi, msg.spoolInfo.type_spool, msg.spoolInfo.color_str, msg.energy];\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":200,"y":540,"wires":[["da55db2fd713ef5f"]]},{"id":"a21918205428511e","type":"server-state-changed","z":"c5f741d359d36b2c","name":"print finish","server":"357ad6925259b0f5","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.x1c_00m09c442602404_etat_de_l_impression"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"finish","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":140,"y":680,"wires":[["8ca3333d06f6b327"],[]]},{"id":"8ca3333d06f6b327","type":"function","z":"c5f741d359d36b2c","name":"get last id print","func":"msg.topic = \"SELECT id FROM print_history ORDER BY id DESC LIMIT 1\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":680,"wires":[["27928f206462cffc"]]},{"id":"9ca1fc89d21ab9e8","type":"function","z":"c5f741d359d36b2c","name":"update print status","func":"// Vérifier si un enregistrement a été trouvé\nif (msg.payload.length > 0) {\n    let lastId = msg.payload[0].id;\n    let now = new Date().toISOString().slice(0, 19).replace(\"T\", \" \"); // Format MySQL datetime\n\n    msg.topic = \"UPDATE print_history SET finished_at = NOW(), print_finished = ?, consum_after = ? WHERE id = ?\";\n    msg.payload = [1, msg.energy, lastId]; // 1 = true pour print_finished\n\n    return msg;\n} else {\n    return null; // Aucun enregistrement trouvé, ne rien faire\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":630,"y":640,"wires":[["ac209475cc2c7766"]]},{"id":"ac209475cc2c7766","type":"mysql","z":"c5f741d359d36b2c","mydb":"670a80b8d67d3579","name":"","x":755,"y":680,"wires":[["ae45f5ad5c84c0b0"]],"l":false},{"id":"27928f206462cffc","type":"mysql","z":"c5f741d359d36b2c","mydb":"670a80b8d67d3579","name":"","x":445,"y":680,"wires":[["fd95e4af989eb88d"]],"l":false},{"id":"5e8737bdaddd4597","type":"api-current-state","z":"c5f741d359d36b2c","name":"get AMS index","server":"357ad6925259b0f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.x1c_00m09c442602404_emplacement_actif_index","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"amsSlot","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":160,"y":300,"wires":[["c6fb12803c7caf0b"]]},{"id":"c6fb12803c7caf0b","type":"switch","z":"c5f741d359d36b2c","name":"AMS slot","property":"amsSlot","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"}],"checkall":"true","repair":false,"outputs":4,"x":180,"y":440,"wires":[["af258a2d66c60f48"],["9ac0c5411427e116"],["2850c813bb0b6e4a"],["1806b377eeba4959"]]},{"id":"ac65395e70aeb124","type":"function","z":"c5f741d359d36b2c","name":"make spoolInfo","func":"let attributes = msg.data.attributes;\n\nmsg.spoolInfo = {\n    active: attributes.active,\n    color: attributes.color,\n    empty: attributes.empty,\n    name: attributes.name,\n    nozzle_temp_min: attributes.nozzle_temp_min,\n    nozzle_temp_max: attributes.nozzle_temp_max,\n    remain: attributes.remain,\n    tag_uid: attributes.tag_uid,\n    tray_uuid: attributes.tray_uuid,\n    type_spool: attributes.type,\n    icon: attributes.icon,\n    friendly_name: attributes.friendly_name\n};\n\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":420,"wires":[["2d12d8683117fccd"]]},{"id":"af258a2d66c60f48","type":"api-current-state","z":"c5f741d359d36b2c","name":"","server":"357ad6925259b0f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.x1c_00m09c442602404_ams_1_emplacement_1","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"type","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":405,"y":360,"wires":[["ac65395e70aeb124"]],"l":false},{"id":"9ac0c5411427e116","type":"api-current-state","z":"c5f741d359d36b2c","name":"","server":"357ad6925259b0f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.x1c_00m09c442602404_ams_1_emplacement_2","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"type","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":405,"y":400,"wires":[["ac65395e70aeb124"]],"l":false},{"id":"2850c813bb0b6e4a","type":"api-current-state","z":"c5f741d359d36b2c","name":"","server":"357ad6925259b0f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.x1c_00m09c442602404_ams_1_emplacement_3","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"type","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":405,"y":440,"wires":[["ac65395e70aeb124"]],"l":false},{"id":"1806b377eeba4959","type":"api-current-state","z":"c5f741d359d36b2c","name":"","server":"357ad6925259b0f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.x1c_00m09c442602404_ams_1_emplacement_4","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"type","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":405,"y":480,"wires":[["ac65395e70aeb124"]],"l":false},{"id":"c8140633fc0e5648","type":"server-state-changed","z":"c5f741d359d36b2c","name":"print fail","server":"357ad6925259b0f5","version":6,"outputs":2,"exposeAsEntityConfig":"","entities":{"entity":["sensor.x1c_00m09c442602404_etat_de_l_impression"],"substring":[],"regex":[]},"outputInitially":false,"stateType":"str","ifState":"failed","ifStateType":"str","ifStateOperator":"is","outputOnlyOnStateChange":true,"for":"0","forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":130,"y":760,"wires":[["893c054f70ed9578"],[]]},{"id":"893c054f70ed9578","type":"function","z":"c5f741d359d36b2c","name":"get last id print","func":"msg.topic = \"SELECT id FROM print_history ORDER BY id DESC LIMIT 1\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":320,"y":760,"wires":[["b1c1fa5e1ae8a5a2"]]},{"id":"b1c1fa5e1ae8a5a2","type":"mysql","z":"c5f741d359d36b2c","mydb":"670a80b8d67d3579","name":"","x":445,"y":760,"wires":[["d8d9dd84a7140796"]],"l":false},{"id":"ba7a4f483f16ca46","type":"mysql","z":"c5f741d359d36b2c","mydb":"670a80b8d67d3579","name":"","x":715,"y":760,"wires":[["ae45f5ad5c84c0b0"]],"l":false},{"id":"d8d9dd84a7140796","type":"function","z":"c5f741d359d36b2c","name":"update print status","func":"// Vérifier si un enregistrement a été trouvé\nif (msg.payload.length > 0) {\n    let lastId = msg.payload[0].id;\n    let now = new Date().toISOString().slice(0, 19).replace(\"T\", \" \"); // Format MySQL datetime\n\n    msg.topic = \"UPDATE print_history SET finished_at = ?, print_finished = ? WHERE id = ?\";\n    msg.payload = [now, 0, lastId]; // 1 = true pour print_finished\n\n    return msg;\n} else {\n    return null; // Aucun enregistrement trouvé, ne rien faire\n}\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":570,"y":760,"wires":[["ba7a4f483f16ca46"]]},{"id":"f22fdc6a85bfa0b2","type":"api-current-state","z":"c5f741d359d36b2c","name":"","server":"357ad6925259b0f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.x1c_00m09c442602404_ams_1_indice_d_humidite","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"amsHumi","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":600,"y":280,"wires":[["40992ee406ac1e92"]]},{"id":"fdcd63fde4ad7a1e","type":"http in","z":"c5f741d359d36b2c","name":"","url":"/print-history/json/","method":"get","upload":false,"swaggerDoc":"","x":270,"y":1520,"wires":[[]]},{"id":"9f64469f8250e142","type":"function","z":"c5f741d359d36b2c","name":"function 3","func":"msg.payload = {\n    // status: \"success\",\n    data: msg.payload\n};\nmsg.headers = { \"Content-Type\": \"application/json\" };\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":1480,"wires":[["02b8d4ead4b7ef1a"]]},{"id":"02b8d4ead4b7ef1a","type":"http response","z":"c5f741d359d36b2c","name":"","statusCode":"","headers":{},"x":830,"y":1640,"wires":[]},{"id":"ae45f5ad5c84c0b0","type":"function","z":"c5f741d359d36b2c","name":"get history for json","func":"msg.topic = \"SELECT file_name, colors, ams_type, print_finished, CONCAT(FLOOR(TIMESTAMPDIFF(MINUTE, created_at, finished_at) / 60), 'h ',MOD(TIMESTAMPDIFF(MINUTE, created_at, finished_at), 60), 'm') AS print_duration FROM print_history ORDER BY id DESC limit 7;\";\nreturn msg;","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":930,"y":620,"wires":[["9a1d9c6f4c4f17ae"]]},{"id":"9a1d9c6f4c4f17ae","type":"mysql","z":"c5f741d359d36b2c","mydb":"670a80b8d67d3579","name":"","x":1055,"y":620,"wires":[["1a4743c1de445083"]],"l":false},{"id":"1a4743c1de445083","type":"file","z":"c5f741d359d36b2c","name":"","filename":"/homeassistant/www/print_history.json","filenameType":"str","appendNewline":false,"createDir":true,"overwriteFile":"true","encoding":"none","x":1270,"y":620,"wires":[["2beccfe634f294eb"]]},{"id":"9989a81d892826c0","type":"inject","z":"c5f741d359d36b2c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":410,"y":1440,"wires":[[]]},{"id":"b54c40a83527eeaa","type":"debug","z":"c5f741d359d36b2c","name":"debug 7","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":800,"y":1740,"wires":[]},{"id":"2beccfe634f294eb","type":"debug","z":"c5f741d359d36b2c","name":"debug 8","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1560,"y":620,"wires":[]},{"id":"dc14d41d452ef493","type":"inject","z":"c5f741d359d36b2c","name":"force refresh json file","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1230,"y":480,"wires":[["ae45f5ad5c84c0b0"]]},{"id":"2acb5c125e6a6461","type":"inject","z":"c5f741d359d36b2c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":750,"y":60,"wires":[["069a45edd6781d66"]]},{"id":"069a45edd6781d66","type":"api-current-state","z":"c5f741d359d36b2c","name":"","server":"357ad6925259b0f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.x1c_00m09c442602404_etape_actuelle","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"grammage","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":1080,"y":120,"wires":[["66cc47e11a08b6cb"]]},{"id":"2d12d8683117fccd","type":"function","z":"c5f741d359d36b2c","name":"Gemini  color_str","func":"const AI = googleGenerativeAi;\nconst GoogleGenerativeAI = AI.GoogleGenerativeAI;\n//msg.payload = GoogleGenerativeAI;\n\nconst genAI = new GoogleGenerativeAI(\"KEY\");\n// msg.topic = genAI;\n\n\ntry {\n// Utilisation du modèle gemini-pro\nconst model = genAI.getGenerativeModel({ model: \"gemini-pro\" });\n\n// Création du prompt\nconst prompt = `Give me the closest one-word color name to the hexadecimal code: ${msg.spoolInfo.color}`;\n\n// Génération du contenu\nconst result = await model.generateContent(prompt);\nconst response = result.response;\nconst text = await response.text(); // Ajout de 'await' ici\n\n// Stockage de la réponse\nmsg.spoolInfo.color_str = text.trim();\n\n    return msg;\n} catch (error) {\n\n    msg.spoolInfo.color_str = \"Error\";\n    return msg;\n}\n\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"googleGenerativeAi","module":"@google/generative-ai"}],"x":860,"y":480,"wires":[["1a6bb4caef74e239"]]},{"id":"40992ee406ac1e92","type":"api-current-state","z":"c5f741d359d36b2c","name":"","server":"357ad6925259b0f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.smart_plug_2102087723434551805448e1e94c5a47_energy_estimate","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"energy","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":955,"y":280,"wires":[["5e8737bdaddd4597"]],"icon":"node-red/status.svg","l":false},{"id":"fd95e4af989eb88d","type":"api-current-state","z":"c5f741d359d36b2c","name":"","server":"357ad6925259b0f5","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.smart_plug_2102087723434551805448e1e94c5a47_energy_estimate","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"energy","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":505,"y":680,"wires":[["9ca1fc89d21ab9e8"]],"icon":"node-red/status.svg","l":false},{"id":"357ad6925259b0f5","type":"server","name":"hass","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30","areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":": ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"default","statusTimeFormat":"h:m","enableGlobalContextStore":false},{"id":"670a80b8d67d3579","type":"MySQLdatabase","name":"","host":"xxx","port":"3306","db":"xx","tz":"","charset":"UTF8"}]